/* font family import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: rgb(0, 0, 0);
}

/* ///// utility class ////*/
:root{
    --font-first-color:black;
    --font-light-color:#8d8d8d;
    --border:2px solid red;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 4vw;
    font-weight: 700;
}
h2{
    font-size: 2.5rem;
    font-weight:550;
}
h3{
    font-size: 2rem;
    font-weight: 550;
}
.light-text{
    text-transform: uppercase;
    font-size:  15px;
    font-weight: 300;
}
button{
    padding: 0.7rem 1.7rem;
    border: none;
    outline: none;
    border-radius: 5px;
    /* font-size: 16px; */
    text-transform: capitalize;
}
/* end utility calss */


/* scrolling bar */
/* width */
::-webkit-scrollbar {
    width: 0.6em;   
}
/* Handle */
::-webkit-scrollbar-thumb {
    background:#000000;
    border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}
 /*end scroll bar  */

/* body tag */
body {
    width: 100%;
    height: fit-content;
    background-color:white;
}

/* //////  main contaner ///// */
.main {
    width: 90vw;
    margin: 0 auto;
    height: 2000px;
    /* border: 1px solid red; */
}
/* /// main contaner ended hear ///// */






/* /////////// hero section [1]  //////////// */
.main .hero-section{
    width: 100%;
    /* background-color: black; */
}
/* header */
.hero-section header{
    justify-content: space-between;
    height: 12vh;
}
header .logo{
    width: 18%;
}
.logo img{
    width: 100%;
}
header nav ul{
    gap: 20px;
}
ul li a{
    font-size: 1.2vw;
    text-transform: capitalize;
    font-weight:400;
}
ul>li>a.bold{
    font-weight: 700;
}
header .header-button{
    gap: 10px;
    width: fit-content;
}
.header-button button:nth-child(1){
    text-transform: none;
    color: black;
    background-color: transparent;
}
.header-button button:nth-child(2){
    text-transform: none;
    background-color: orangered;
    color: azure;
}
/* hero-contantarea */
.hero-section .hero-contantarea{
    width: 100%;
    height: 80vh;
}
/* hero ca text */
.hero-contantarea .hero-ca-text{
    width: 50%;
    height: 100%;
    flex-direction: column;
    align-items: baseline;
    gap:40px;
}
.hero-ca-text p{
    font-size: 1.5vw;
    font-weight: 400;
}
.hero-ca-text .hero-buttons {
    gap: 10px;
}
.hero-buttons button:nth-child(1){
    font-size: 1rem;
    text-transform: capitalize;
    background-color: orangered;
    padding: 0.8rem 3rem;
    color: azure;
}
.hero-buttons button:nth-child(2){
    font-size: 1rem;
    padding:0.8rem 3rem;
    text-transform: none;
    text-transform: capitalize;
    color: black;
    background-color: transparent;
}
/* hero ca img */
.hero-contantarea .hero-ca-img{
    width: 50%;
    height: 100%;
}
/* /////////// hero section [1] ended  //////////// */

