/* font family import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #000000;
}

/* ///// utility class ////*/
:root {
  --pading: 0px 3vw;
  --font-light-color: #8d8d8d;
  --border: 2px solid red;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 8vh;
  font-weight: 800;
  color: #020115;
}

h2 {
  font-size: 6vh;
  font-weight: 600;
  color: #020115;
  text-transform: capitalize;
  margin-top: 0.8rem;
}

h3 {
  font-size: 4.5vh;
  font-weight: 550;
  text-transform: capitalize;
}

.light-text {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  color: grey;
  letter-spacing: 12px;
}

.button {
  padding: 15px 50px;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 6px;
  text-transform: capitalize;
  background-color: #ff6f00;
  color: white;
}

/* end utility calss */


/* scrolling bar */
/* width */
::-webkit-scrollbar {
  width: 0.6em;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #8d8d8d;
}

/*end scroll bar  */

/*// body  // */
body {
  width: 100%;
  height: fit-content;
}

/* // body ended hear // */

/* /// main contaner  /// */
.main {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

/* /// main contaner ended hear  /// */




/* /// header  /// */
.main header {
  width: 100%;
  margin: 0 auto;
  padding: 1.5vh 3vw;
  justify-content: space-between;
}

/* logo */
.logo {
  width: 15%;
  height: 100%;
}

.logo img {
  width: 100%;
}

/* nav */
nav ul {
  gap: 40px;
}

nav ul li a {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 1.2vw;
}

/* buttons */
.header-buttons {
  height: 100%;
  gap: 8px;
}

.header-buttons button:nth-child(1) {
  background: transparent;
  color: #000;
  text-transform: none;
  font-size: 0.9rem;
  padding: 10px 25px;
}

.header-buttons button:nth-child(2) {
  padding: 10px 25px;
  font-size: 0.9rem;
  text-transform: none;
}

/* /// header ended hear  /// */





/* /// hero section [1]  /// */
.main .hero-section {
  padding: var(--pading);
  width: 100%;
  height: 80vh;
}

/* hero-text */
.hero-section .hero-text {
  width: 50%;
  height: 100%;
  flex-direction: column;
  gap: 5vh;
  align-items: start;
}

.hero-section .hero-text p {
  font-size: 1.6vw;
  font-weight: 400;
}

.hero-section .hero-text .hero-buttons {
  gap: 20px;
}

.hero-section .hero-text .hero-buttons button:nth-child(2) {
  background-color: transparent;
  color: #000;
}

/* hero img */
.hero-section .hero-img {
  width: 50%;
  height: 100%;
  position: relative;
  padding-left: 75px;
}

/* img */
.hero-section .hero-img>span {
  position: absolute;
  z-index: 2;
}

.hero-section .hero-img span img {
  width: 400px;
}

.hero-section .hero-img .group {
  transform: translate(-17px, -30px);
  z-index: 1;
}

.hero-section .hero-img .group img {
  width: 435px;
}

/* boxs */
h5>i {
  color: yellow;
}

h5>span {
  color: gray;
}

/* box [1] */
.hero-section .hero-img .img-upear {
  position: absolute;
  width: 300px;
  height: 66px;
  transform: translate(-135px, -135px);
  z-index: 0;
  border-radius: 8px;
  box-shadow: 00px 25px 75px 0px rgba(0, 0, 0, 0.35);
}

.hero-section .hero-img .img-upear .img-up-icon {
  width: 25%;
  height: 100%;
  font-size: 2.5rem;
}

.hero-section .hero-img .img-upear .img-up-remaning {
  width: 75%;
  height: 100%;
  justify-content: start;
}

/* box [2] */
.hero-section .hero-img .img-lower {
  position: absolute;
  width: 315px;
  height: 62px;
  transform: translate(-175px, 120px);
  z-index: 0;
  border-radius: 8px;
  justify-content: start;
  padding-left: 15px;
  box-shadow: 00px 25px 75px 0px rgba(0, 0, 0, 0.40);
}

/* /// hero section [1] ended hear  /// */






/* /// service section [2] /// */
.service-section {
  padding: var(--pading);
  width: 100%;
  height: fit-content;
  flex-direction: column;
  gap: 80px;
}

/* service-heading */
.service-section .service-heading {
  width: 100%;
  padding-top: 2rem;
  flex-direction: column;
  justify-content: end;
}

/* service-editing */
.service-section .services-item {
  width: 100%;
  height: fit-content;
  justify-content: space-between;
}

.service-section .services-item div {
  width: 25vw;
  height: fit-content;
  flex-direction: column;
  gap: 30px;
  border-radius: 20px;
  text-align: center;
  padding: 4vh 2.5vw;
  box-shadow: 00px 25px 75px 0px rgba(0, 0, 0, 0.10);
}

.service-section .services-item div>i {
  font-size: 2.5rem;
}

.service-section .services-item div>p {
  font-weight: 550;
  font-size: 1.2vw;
}

.service-section .services-item div>button {
  font-size: 12px;
  padding: 13px 35px;
}

/* service-explore  */
.service-section .service-explore {
  width: 100%;
  height: fit-content;
}

.service-section .service-explore .explore-text {
  width: 40%;
  height: 350px;
  position: relative;

}

.service-section .service-explore .explore-text h4 {
  font-size: 4vh;
  margin-bottom: 30px;
}

.service-section .service-explore .explore-text p {
  color: gray;
  font-weight: 400;
}

.service-section .service-explore .explore-text button {
  color: black;
  font-size: 1.1rem;
  padding: 8px 40px;
  border-radius: 30px;
  border: 2px solid gainsboro;
  background: transparent;
  position: absolute;
  bottom: 10px;
}

.service-section .service-explore .explore-video {
  width: 60%;
  height: fit-content;
  height: 350px;
}

.service-section .service-explore .explore-video img {
  width: 100%;
  height: 100%;
}

/* /// service section [2] ended hear /// */






/* /// testmonials section [3] /// */
.testmonials-section {
  margin-top: 50px;
  padding: var(--pading);
  width: 100%;
  height: fit-content;
  flex-direction: column;
  gap: 80px;
}

.testmonials-section .testmonials-heading {
  width: 100%;
  height: fit-content;
  padding-top: 2rem;
  flex-direction: column;
  justify-content: end;
}

.testmonials-section .t-s-clients {
  width: 100%;
  height: fit-content;
  display: grid;
  gap: 50px 65px;
  grid-template-columns: 390px 390px;
  justify-content: center;
}

.testmonials-section .t-s-clients>div {
  border-radius: 10px;
  height: 210px;
  display: grid;
  grid-template-columns: 20% 80%;
  gap: 20px;
  padding: 10px;
  position: relative;
}

.testmonials-section .t-s-clients>div p {
  font-weight: 450;
  line-height: 28px;
}

.testmonials-section .t-s-clients>div span {
  color: rgb(156, 156, 156);
  font-size: 0.8rem;
  letter-spacing: 0;
  position: absolute;
  bottom: 20px;
}

/* /// testmonials section [2] ended hear /// */